.dropdown-parent{
  margin-top: 20px;
  margin-left: 50px;
}

.select-button{
  padding: 15px 161px;
  position: relative;
  background-color: #fff;
  border: 1px solid lightgrey;
}

.dropdown-icon{
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 30px;
}

.dropdown-options{
  display: flex;
  padding-top: 10px;
  align-items: center;
  font-weight: 500;
  color: gray;
}

.dropdown-list{
  border-top: none;
  border-left: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 10px 20px;
  width: 282px;
  border-radius: 5px;
}

input[type="checkbox"]{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  outline: 1px solid lightgrey;
  accent-color: yellow;
  box-shadow: 0 #fff;
  
}

@media (max-width: 400px){
  .dropdown-parent{
    margin-top: 10px;
    margin-left: 10px;
  }
}